*.[oa]
*.out
*.toc
*.pdf
*.aux
*.dvi
*.synctex
*.ps
*.log
*.tps
*.bbl
*.blg
*.tmp
/bin/
/dox/
RunDir/
src/.settings/
*/log.txt
.metadata
*.tokens
*.RData
*.Rhistory
*.sublime-workspace
*.xmind
Artiboard-D
dub.json
Debug
vs_artiboard/packages/
vs_artiboard/ipch/
vs_artiboard/vs_artiboard.sdf
vs_artiboard/vs_artiboard.v12.suo